.section {
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 95px;
}

.section .titre {
    color: var(--color-text);
    font-family: var(--font-libre-baskerville);
    font-size: 38px;
}

.section .line {
    display: block;
    height: 5px;
    width: 200px;
    background-color: var(--color-borders)
}

.section .paragraphe {
    color: var(--color-text);
    font-family: var(--font-sahitya);
    font-size: 24px;
}

.section .paragraphe .key {
    color: var(--color-borders);
    font-weight: 800;
}

.section .block_btn {
    display: flex;
    column-gap: 15px;
}

.section .block_btn .btn {
    width: 180px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px 0px;
    font-size: 18px;
    color: var(--color-text);
    font-family: var(--font-libre-baskerville);
    transition: background-color 0.5s;
}

.section .block_btn .btn:hover {
    background-color: white;
    color: var(--color-primaire);
}


@media screen and (max-width:1350px) {
    .section .titre {
        font-size: 35px;
    }

    .section .paragraphe {
        font-size: 23px;
    }

    .section .block_btn .btn {
        font-size: 18px;
    }
}

@media screen and (max-width:1000px) {
    .section .titre {
        font-size: 30px;
    }

    .section .paragraphe {
        font-size: 21px;
    }

    .section .block_btn .btn {
        font-size: 18px;
        padding: 10px 0px;
    }
}

@media screen and (max-width:800px) {
    .section {
        width: 90%;
        margin-top: 0px;
        padding-top: 145px;
    }

    .section .titre {
        font-size: 23px;
    }

    .section .paragraphe {
        font-size: 19px;
    }

    .section .block_btn .btn {
        font-size: 17px;
        padding: 10px 0px;
        width: 170px;
    }
}

@media screen and (max-width:500px) {
    .section .titre {
        font-size: 21px;
    }

    .section .paragraphe {
        font-size: 18px;
    }

    .section .block_btn .btn {
        font-size: 16px;
        padding: 10px 0px;
        width: 170px;
    }
}