.footer {
    width: 100%;
    background-color: var(--color-header_footer);
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.footer .copyright{
    color: var( --color-text);
    font-family: var(--font-sahitya);
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 20px;
}




